<div class="container">
  <div class="row">
  <% if flash[:error] %>
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class='close' data-dismiss="alert" aria-label="close">X</a>
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  </div>
  <div class="row">
    <%= form_tag(attendances_path, method: :post) do %>
      <div class="input-group">
        <%= text_field_tag "username", nil, class: "form-control", placeholder: "Username" %>
        <div class="input-group-btn">
          <button class="btn btn-danger" type="submit">Check-In</button>
        </div>
      </div>
    <% end %>
  </div>
  <br/>
  <div class="row text-center">
    <%= link_to("Create new user", new_user_path, class: "btn btn-success") %>
  </div>
</div>