<!DOCTYPE html>
<html>
  <head>
    <title>GeniusU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <div class="row">
        <h1><a href="/">GeniusU</a></h1>
        <h7>Attendance Tracker</h7>
      </div>
    </div>
    <div class="row">
        <%= yield %>
    </div>
  </body>
</html>
